/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

.header {
  background-color: #3a3a3a;
  line-height: 45px;
}

.header-wrap {
  width: 100%;
  color: #fff;
}

.header-wrap a {
  display: inline-block;
  color: #fff;
  font-weight: 100;
}

@media screen and (max-width: 991px) {
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .nav {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    background-color: #3a3a3a;
    overflow: hidden;
  }
  .nav-active {
    transform: scaleY(1);
    height: 100vh;
  }
  .nav-toggle {
    cursor: pointer;
    margin-left: 15px;
  }
  .user-panel {
    margin-right: 15px;
  }
  .user-panel a:last-child {
    display: none;
  }
  .nav-search {
    padding: 8px 12px;
    background-color: #3a3a3a;
    border-bottom: 1px solid #5e5b5b;
  }
  .nav-search-input {
    display: block;
    margin: 0 auto;
    width: calc(100% - 24px);
    font-size: 1.2rem;
    border: 1px solid transparent;
    background-color: #5e5b5b;
    border-radius: 5px;
    color: #ccccd4;
    margin-bottom: 0.5rem;
  }
  .nav-search-input::-moz-placeholder {
    font-weight: 300;
    opacity: 0.5;
    font-size: 0.8rem;
    color: #ccccd4;
  }
  .nav-search-input:-ms-input-placeholder {
    font-weight: 300;
    opacity: 0.5;
    font-size: 0.8rem;
    color: #ccccd4;
  }
  .nav-search-input::placeholder {
    font-weight: 300;
    opacity: 0.5;
    font-size: 0.8rem;
    color: #ccccd4;
  }
  input.nav-search-input:focus {
    outline: none;
  }
  .nav-link-group {
    padding: 15px;
  }
  .nav-link {
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #5e5b5b;
  }
  .nav-link:last-child {
    border: none;
  }
  .search-icon {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .header-wrap {
    margin: 0 auto;
    max-width: 992px;
    display: flex;
  }
  .nav-toggle {
    display: none;
  }
  .nav-search {
    display: none;
  }
  .logo {
    width: 10%;
    order: -1;
  }
  .logo a {
    padding: 0 1rem;
  }
  .nav {
    flex-grow: 1;
  }
  .nav-link-group {
    display: flex;
    justify-content: space-around;
  }
  .nav-link {
    text-decoration: none;
    padding: 0 1rem;
  }
  .user-panel {
    width: 20%;
    display: flex;
    justify-content: space-around;
  }
  .user-panel a {
    padding: 0 1rem;
  }
}
.section-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.section-product-header .product-title {
  font-size: 1.2rem;
}
.section-product-header .product-title-price {
  font-weight: 300;
}

.product-title-text {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: #f5f5f7;
  border-top: 1px solid rgb(197, 183, 183);
}
.product-title-text a {
  text-decoration: none;
}
.product-title-text a i {
  padding-left: 0.5rem;
}
.product-title-text a:hover {
  text-decoration: underline;
}

.section-image {
  margin-bottom: 3rem;
}
.section-image img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 500px;
}
.section-image .deliver-group {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}
.section-image .deliver-group .deliver {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-image .deliver-group .deliver .deliver-pic {
  margin-bottom: 0.8rem;
}
.section-image .deliver-group .deliver .deliver-pic i {
  font-size: 1.6rem;
}
.section-image .deliver-group .deliver .deliver-text {
  font-size: 10px;
}
.section-image .deliver-contact {
  width: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.section-image .deliver-contact .contact-pic {
  margin-right: 1rem;
}
.section-image .deliver-contact .contact-pic i {
  font-size: 1.6rem;
}
.section-image .deliver-contact .contact-text {
  font-size: 10px;
  line-height: 1.2;
}
.section-image .deliver-contact .contact-text a {
  text-decoration: none;
}
.section-image .deliver-contact .contact-text a:hover {
  text-decoration: underline;
}

.section-customize {
  padding: 0 30px;
}

.customize-header .customize-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.customize-header .customize-description {
  margin-bottom: 2rem;
  line-height: 1.2;
  font-size: 14px;
}
.customize-header .customize-description a {
  text-decoration: none;
}
.customize-header .customize-description a:hover {
  text-decoration: underline;
}

.option {
  margin-bottom: 2rem;
}
.option .option-title {
  font-size: 14px;
  margin-bottom: 1rem;
}
.option .option-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.option .option-btn {
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.option .option-btn.w-50 {
  width: calc(50% - 40px);
}
.option .option-btn-selected {
  border-color: #0071e3;
}
.option .option-color-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option .option-color-display {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 12px;
}
.option .option-color-name {
  font-size: 10px;
}

@media screen and (min-width: 992px) {
  .main {
    display: flex;
  }
  .main .section-image {
    width: 50%;
  }
  .main .section-customize {
    padding-top: 5rem;
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */